In [1]:
import pandas as pd

In [2]:
from pandas import read_csv
df = r"C:\Users\sahil\OneDrive\Documents\DMMMMP.xlsx"

In [3]:
import pandas as pd

In [4]:
df = pd.read_excel(r'C:\Users\sahil\OneDrive\Documents\DMMMMP.xlsx')

In [5]:
df

   TID                 items bought
0   10             beer,nuts,diaper
1   20            beer,coffe,diaper
2   30              beer,diaper,egg
3   40               nuts,eggs,milk
4   50  nuts,eggs,milk,coffe,diaper

In [6]:
C1 = {'beer', 'nuts', 'diaper', 'coffee', 'egg', 'milk'}
print(C1)

{'coffee', 'diaper', 'milk', 'egg', 'beer', 'nuts'}

In [7]:
transactions = [
    "beer,nuts,diaper",
    "beer,coffe,diaper",
    "beer,diaper,egg",
    "nuts,eggs,milk",
    "nuts,eggs,milk,coffe,diaper"
]
items = [item for transaction in transactions for item in transaction.split(',')]
item_counts = {item: items.count(item) for item in set(items)}
print("C1 (Candidate Set):")
for item, count in item_counts.items():
    print(f"{item}: {count}")

C1 (Candidate Set):
diaper: 4
coffe: 2
beer: 3
milk: 2
eggs: 2
egg: 1
nuts: 3

In [8]:
transactions = [
    "beer,nuts,diaper",
    "beer,coffe,diaper",
    "beer,diaper,egg",
    "nuts,eggs,milk",
    "nuts,eggs,milk,coffe,diaper"
]
items = [item for transaction in transactions for item in transaction.split(',')]
item_counts = {item: items.count(item) for item in set(items)}

print("C1 (Candidate Set):")
for item, count in item_counts.items():
    print(f"{item}: {count}")

C1 (Candidate Set):
diaper: 4
coffe: 2
beer: 3
milk: 2
eggs: 2
egg: 1
nuts: 3

In [9]:
transactions = [
    "beer,nuts,diaper",
    "beer,coffe,diaper",
    "beer,diaper,eggs",
    "nuts,eggs,milk",
    "nuts,eggs,milk,coffe,diaper"
]
items = [item for transaction in transactions for item in transaction.split(',')]
item_counts = {item: items.count(item) for item in set(items)}

print("C2 (Candidate Set):")
for item, count in item_counts.items():
    print(f"{item}: {count}")

C2 (Candidate Set):
diaper: 4
coffe: 2
beer: 3
milk: 2
eggs: 3
nuts: 3

In [10]:
from collections import Counter
transactions = [
    "beer,nuts,diaper",
    "beer,coffe,diaper",
    "beer,diaper,egg",
    "nuts,eggs,milk",
    "nuts,eggs,milk,coffe,diaper"
]
items = [item for transaction in transactions for item in transaction.split(',')]
item_counts = {item: items.count(item) for item in set(items)}
min_support = 2
L1 = {item: count for item, count in item_counts.items() if count >= min_support}
print("{:<10} {:<15}".format("Item", "Support Count"))
print("-" * 25)
for item, count in L1.items():
    print("{:<10} {:<15}".format(item, count))

Item       Support Count
-------------------------
diaper     4
coffe      2
beer       3
milk       2
eggs       2
nuts       3

In [11]:
from itertools import combinations
transactions = [
    "beer,nuts,diaper",
    "beer,coffe,diaper",
    "beer,diaper,egg",
    "nuts,eggs,milk",
    "nuts,eggs,milk,coffe,diaper"
]
pair_counts = {}
for transaction in transactions:
    items_in_transaction = transaction.split(',')
    pairs = combinations(sorted(items_in_transaction), 2)  # Generate pairs from items in each transaction
    for pair in pairs:
        if pair in pair_counts:
            pair_counts[pair] += 1
        else:
            pair_counts[pair] = 1
print("{:<20} {:<15}".format("Item Pair", "Support Count"))
print("-" * 35)
for pair, count in pair_counts.items():
    print("{:<20} {:<15}".format(','.join(pair), count))

Item Pair            Support Count
-----------------------------------
beer,diaper          3
beer,nuts            1
diaper,nuts          2
beer,coffe           1
coffe,diaper         2
beer,egg             1
diaper,egg           1
eggs,milk            2
eggs,nuts            2
milk,nuts            2
coffe,eggs           1
coffe,milk           1
coffe,nuts           1
diaper,eggs          1
diaper,milk          1

In [12]:
from itertools import combinations
transactions = [
    "beer,nuts,diaper",
    "beer,coffe,diaper",
    "beer,diaper,egg",
    "nuts,eggs,milk",
    "nuts,eggs,milk,coffe,diaper"
]
pair_counts = {}
for transaction in transactions:
    items_in_transaction = transaction.split(',')
    pairs = combinations(sorted(items_in_transaction), 2)  # Generate pairs from items in each transaction
    for pair in pairs:
        if pair in pair_counts:
            pair_counts[pair] += 1
        else:
            pair_counts[pair] = 1
min_support = 2
L2 = {pair: count for pair, count in pair_counts.items() if count >= min_support}
print("{:<20} {:<15}".format("Item Pair", "Support Count"))
print("-" * 35)
for pair, count in L2.items():
    print("{:<20} {:<15}".format(','.join(pair), count))

Item Pair            Support Count
-----------------------------------
beer,diaper          3
diaper,nuts          2
coffe,diaper         2
eggs,milk            2
eggs,nuts            2
milk,nuts            2